{% extends 'base.html.twig' %}

{% block prepare_active %}class="active"{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-6">
            <h2>Выполнение</h2>
            <p>
                В процессе выполнения заданий вы можете изменять абсолютно все, что посчитаете нужным.
            </p>
            <p>
                Использование ORM Doctrine предполагает, что проверяющий, получив
                ваш код выполнит команду <span class="text-danger">doctrine:schema:update</span> и применит все
                внесенные вами в структуру БД изменения. Однако, если по каким-то
                причинам этого недостаточно, либо вы считаете необходимым добавление
                каких-то особенных записей в базу, то необходимо добавить в корень
                проекта файл update.sql со всеми необходимыми запросами.
            </p>
            <p>
                Если вы считаете необходимым прокомментровать вашу работу словами,
                то добавьте в корень проекта файл comments.txt со всеми своими
                комментариями.
            </p>
            <p>
                Задания находятся на странице <a href="{{ path('uts_content_task') }}">"Что делать?"</a>
            </p>
        </div>
        <div class="col-lg-6">
            <h2>Результаты</h2>
            <p>
                После выполнения каждого их заданий важно зафиксировать изменения.
                Необходимо выполнить команду <span class="text-danger">git add .</span>
                и команду <span class="text-danger">git commit <название задания></span>
            </p>
            <p>
                Создайте аккаунт на bitbucket\github и репозиторий
            </p>
            <p>
                Загрузите изменения в свой репозиторий, и отправьте ссылку на
            </p>
        </div>
    </div>
{% endblock %}
